<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Suntimes App{{end}}</title>
    <!-- TODO favicon -->
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }
    </style>
    {{block "style" .}}
    {{end}}
</head>

<body>
    {{block "body" .}}
    {{end}}
</body>

</html>