{{define "title"}}
    Suntimes App - Signup
{{end}}

{{define "body"}}
    <h1>Suntimes App</h1>
    <h2>Signup with invite token</h2>
    <p>This page mainly exists to signup users that have been invited by others users. The invited users likely do not have
        the app installed, and passing an invite token from a URL to an app after its installation is cumbersome.<br>So the
        invite token can be exchanged here for an account, before installing the app.</p>

    <p>Hello {{.inviteeEmail}}!</p>
    <p>You have been invited by {{.inviteeEmail}} to share a calendar with them!</p>
    <p>Signup here to Suntimes Calendar and download the app for iOS or Android afterwards.</p>
{{end}}